<div class="jumbotron">
  <h1 class="display-4">You have bet on this Game already</h1>
  
  <a class="btn btn-primary btn-lg" href="/games" role="button">Return to Games</a>
   <a class="btn btn-primary btn-lg" href="/members" role="button">Return to Members Page</a>
</div>