<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="logo placeholder"> Ball Game!
    </a>
    <ul class="nav navbar-dark bg-dark justify-content-end">
      <li class="nav-item">
        <a class="nav-link" href="/games">Games Today</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/leaderboard">Leaderboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
    </ul>


  </nav>
    <div class="container" id="overallContain">
  


    </div>

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/leaderboard.js"></script>
