form.signup,
form.login {
  margin-top: 50px;
  border-radius: 20px;
}
a.nav-link{
  color:white;
}
body.main{
  background-image: url("/images/rob-bye-18274-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: 99.999999999999%;
  
}
footer{
  text-align: center;
  background-color: rgb(46,51,56);
  color:white;
  position:absolute;
   bottom:0;
   width:100%;
}

#overallContain{
  width:960px;
  
}

.jumbotron{
  margin-top: 30px;
  opacity:.95;
  text-align: center
}

#loginPage {
  width:960px;
  
}
.col-md-6 {
  margin:auto;
}

body.loginBody{

  background-image: url("/images/20180605-field2.jpg");
  background-repeat: no-repeat;
  background-size: 99.999999999999%;
  
}
.login{
  background-color: white;
  padding:30px;
}

body.signupBody{
  background-image: url("/images/20180605-field2.jpg");
  background-repeat: no-repeat;
  background-size: 99.999999999999%;
  
}

.signup{
  background-color: white;
  padding:30px;
}
